.nav{       
    padding-top: 1rem;
  

         text-align: left;
         padding-left: 2rem;
         font-size: 2rem;
         font-weight: bold;
         color: white !important;
         border-radius: 0px 0px 9px 9px;
    background-color: rgba(0, 0, 0, 0.308);
    text-shadow: 3px 3px 5px rgb(7, 7, 7);
    
}

.navbar-brand {
    font-size: 2rem !important;
    padding-bottom: 0.5rem !important;
}
